/* Utilities */
.border {
  border: 1px solid black;
}

body {
  font-family: "Lato";
}
.nextui-navbar-container {
  /* background-color: antiquewhite !important; */
}
/* .logo {
  font-weight: 900;
  font-size: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(107, 52, 35, 1) 0%,
    rgba(191, 156, 117, 1) 39%,
    rgba(161, 136, 61, 1) 100%
  );
  background-clip: text;

  -webkit-text-fill-color: transparent;
} */

.mapContainer {
  background-image: url("../images/maps.jpg");
  width: 80%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  background-position: center;
  margin: auto;
  margin-top: 3vh;
  border-radius: 20px;
}

.RctaContainer button:hover{
  background-color: #f5f5f5;
  color: #000;
  border: 1px solid #000;
}

.blobFill{
  --fill: #93807d;
}

.menu a:hover{
  color: #93807d !important;
}